# Ignora a pasta de módulos local (será instalada dentro do contêiner)
node_modules

# Ignora logs e arquivos do git
.git
.gitignore
npm-debug.log

# NÃO ignore o .env, pois o docker-compose precisa dele
# .env